body {
    background-color: rgb(255, 255, 255);
    margin-left: 1.5%;
    margin-right: 1.5%;
}
#header {
    background-image: url(/home/dweb/Images/index.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: center;
    margin-left: 25px;
    margin-right: 25px;
}
.text-color {
    color: rgb(0, 0, 0);
}
.content {
    border: solid black 2px;
    flex-direction: column;
    display: flex;
    background-color: rgb(255, 56, 56);
}
.hbox{
    margin-left: 15px;
    margin-bottom: 5px;
    margin-top:10px;
}
.pasla {
    border:solid rgb(253, 235, 75) 1px;
    font-weight: bold; 
    text-decoration: underline rgb(0, 0, 0);
}
#name1 {
    background-color: yelloww;
    color: rgb(97, 96, 96);
    font-weight: bold;
    border:2px solid black;
    background-image: url("/home/dweb/Images/embleme-polynesie-française-1.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 426px;
}
#name2 {
    border:2px solid black;
    background-color: rgb(67, 238, 67);
}
#preset {
    border: 3px solid rgb(0, 0, 0);
}
#preset1 {
    border: 3px solid black;
}
#preset2 {
    border: 3px solid black;
}

.atom {
    text-decoration: underline;
}

.container{
    border: solid black 1px;
    display: flex;
}

.item{
    border: solid rgb(0, 0, 0) 1px;
}